body{
	*{
		box-sizing: border-box;
	}
}

.l-content{
	overflow: hidden;
}

a{
	color: #000;
}
.p-header{
	width: 100%;
	justify-content: center;
}
#menu-footer{
	margin-top: 2em;
	text-align: center;
}

.menu-item{
	display: inline-block;
	list-style: none;
}

body{
/* 	padding-bottom: 30em; */
}

.o-copyright{
	padding: 1em;
	background: #000;
	color: #FFF;
	margin-top: 1em;
}