.p-footer{
	width: 100%;
	background: $s-color__trans;
	color: #FFF;
	a{
		color: #FFF;
		text-decoration: none;
	}
	ul{
		list-style: none;
		a{
			text-transform: uppercase;
			margin-bottom: 1rem;
		}
	}
}

.p-footer__inner{
	padding: 2rem $s-padding__mobile;
	max-width: 1080px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.p-footer__half{
	flex-basis: 50%;
}

.p-footer__left{
	@include s-responsive__mobile-up{
		flex-basis: 66%;
		display: flex;
		justify-content: space-between;
	}
}

.menu-footer-nav-container{
	@include s-responsive__mobile-up{
		flex-basis: 66%;
		ul{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			height: 5rem;
			li{
				padding-bottom: 1rem;
			}
		}
	}
}
.p-footer__right{
	text-align: right;
	display: flex;
	justify-content: flex-end;
	img{
		width: 5rem;
		height: 5rem;
		object-fit: contain;
		display: block;
	}
	@include s-responsive__mobile-up{
		flex-basis: 33%;
	}
}

.p-footer__headline{
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.p-footer__details{
	margin-bottom: 1rem;
}

.p-footer__copyright{
	font-size: 12px;
}