.t-home__text{
	background: $s-color__red;
	color: #FFF;
	text-align: center;
	padding: 80px 10px;
}

.t-home__text--heading{
	text-transform: uppercase;
	font-size: 53px;
	margin-bottom: .5em;
}

.t-home__text--paragraph{
	font-size: 29px;
}