.c-banner{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.c-banner__background{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		display: block;
	}
}


.c-banner__foreground{
	background: rgba(0,0,0,0.45);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
	padding-bottom: 4.5rem;
	@include s-responsive__mobile-up{
		padding-bottom: 5.5rem;
	}
}


.c-banner__foreground--inner{
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 1.5rem;
	display: flex;
	width: 100%;
	height: 100%;
	color: #FFF;
	@include s-responsive__mobile-up{
		max-width: 67rem;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		padding-left: 17rem;
		padding-right: 0;
	}
}

.c-banner__headline{
	text-transform: uppercase;
	margin-bottom: 1rem;
	letter-spacing: 1.5px;
}

.c-banner__bodytext{
	letter-spacing: 0px;
	line-height: 1.25;
	margin-bottom: 1rem;
	padding-left: 1.5rem;
	position: relative;
	&:before{
		position: absolute;
		top: .5rem;
		left: 0;
		background: #FFF;
		height: 1px;
		width: 1rem;
		display: block;
		content: '';
		@include s-responsive__mobile-up{
			width: 2.5rem;
		}
	}
	@include s-responsive__mobile-up{
		padding-left: 3.5rem;
	}
}

.c-banner__button{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 1.5rem;
	cursor: pointer;
	@include s-responsive__mobile-up{
		padding-left: 3.5rem;
	}
}

.c-banner__button--icon{
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 1rem;
	svg{
		object-fit: contain;
		width: 100%;
		height: 100%;
		display: block;
	}
}
.c-banner__button--text{
	text-transform: uppercase;
}


//editor styles

.c-banner__background--button{
	background: none;
	border: none;
	padding: 0;
	width: 100%;
	height: 100%;
}

.wp-block{
	.c-banner__foreground{
		height: 50%;
		bottom: 0;
		top: auto;
	}
}