.wp-block-contact-form-7-contact-form-selector {
  margin-bottom: 5em;
  p{
  	position: relative;
  }
  .ajax-loader{
  	position: absolute;
  	bottom: 1rem;
  }
}
  .wp-block-contact-form-7-contact-form-selector form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 500px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .wp-block-contact-form-7-contact-form-selector .wpcf7-submit {
    border: none;
    max-width: 16em;
    color: #FFF;
    background: #ae1e1e;
    text-transform: uppercase;
    font-size: 1rem;
    padding: .5em 1em;
    margin-top: 1em; }

.c-contact-form__input-group {
  display: block;
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 3em;
  font-size: 1rem;
  margin-top: 1em; }
  .c-contact-form__input-group:nth-of-type(4) {
    height: 5em; }
  .c-contact-form__input-group input, .c-contact-form__input-group textarea {
    color: #FFF;
    background: #272c34;
    border: none;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    padding-left: 1em; }
  @media screen and (min-width: 700px) and (min-device-width: 700px) {
    .c-contact-form__input-group {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
      .c-contact-form__input-group:nth-of-type(2) {
        padding-right: 1em; }
      .c-contact-form__input-group:nth-of-type(4) {
        height: 5em;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }

.c-contact-form__label {
  z-index: 9;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 1em;
  color: #FFF;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 1rem; }
  .c-contact-form__label.is-hidden {
    display: none; }

.c-contact-form__sub{
	margin-top: 1rem;
  padding: 0 1rem;
	font-size: 1rem;
}