.c-image-and-text{
	width: 100%;
	position: relative;
	overflow: hidden;
	&:after{
		z-index: -1;
		position: absolute;
		top: 5.5rem;
		height: 100%;
		width: 100%;
		left: 0;
		content: '';
		display: block;
		background: rgba(62,72,87,.74);
		background-position: 50% 0%;
		@include s-responsive__mobile-up{
			top: 15.5rem;
		}
	}
	margin-top: 5.5rem;
	@include s-responsive__mobile-up{
		margin-top: 8rem;
	}
}



.c-image-and-text__inner{
	padding: 0 $s-padding__mobile;
}

.c-image-and-text__image{
	width: 100%;
	img{
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
	}
	@include s-responsive__mobile-up{
		max-width: 1080px;
		left: 50%;
		position: relative;
		transform: translateX(-50%);
		padding-right: 8rem;
	}
}

.c-image-and-text__text{
	margin-top: 3rem;
	color: #FFF;
	padding-bottom: 3rem;
	br{
		height: 1rem;
	    display: block;
	    width: 100%;
	    content: '';
	}
	@include s-responsive__mobile-up{
		margin-top: 4rem;
		padding-bottom: 4rem;
		max-width: 1080px;
		left: 50%;
		position: relative;
		transform: translateX(-50%);
	}
}

.c-image-and-text__headline{
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.c-image-and-text__text--text{
	letter-spacing: 0px;
	line-height: 1.25;
	margin-bottom: 1rem;
	padding-left: 1.5rem;
	position: relative;
	&:before{
		position: absolute;
		top: .5rem;
		left: 0;
		background: #FFF;
		height: 1px;
		width: 1rem;
		display: block;
		content: '';
		@include s-responsive__mobile-up{
			width: 2.5rem;
		}
	}
	@include s-responsive__mobile-up{
		padding-left: 3.5rem;
		max-width: 47rem;
	}
}