.c-navbar__menu{
	display: none;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	right: 0;
	padding: $s-padding__mobile;
	color: $s-color__white;
	background: $s-color__trans;
	max-width: 24rem;
	.is-open &{
		display: block;
	}
}

.c-navbar__mobile--top, .c-navbar__inner{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.c-navbar__inner{
	padding: $s-padding__mobile;
}