.c-navbar{
	position: absolute;
	z-index: 9;
	width: 100vw;
	overflow: hidden;
}

.c-navbar__menu{
	// display: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all .5s;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	right: -100vw;
	padding: $s-padding__mobile;
	color: $s-color__white;
	// background: $s-color__trans;
	background: rgba(62, 72, 87, 0.9);
	.is-open &{
		right: 0;
		z-index: 9;
	}
	@include s-responsive__mobile-up{
		max-width: 32%;
		right: -32%;
		border-left: 1px solid #FFF;
	}
}

.c-navbar__inner{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 79rem;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.c-navbar__inner{
	padding: $s-padding__mobile;
}

.c-navbar__logo{
	width: 6.5rem;
	height: 6.5rem;
	img{
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
	}
}

[data-menu-toggle]{
	cursor: pointer;
}

.c-navbar__hamburger{
	text-transform: uppercase;
	color: #FFF;
	font-size: 1rem;
	.is-open &{
		display: none;
	}
	@include s-responsive__mobile-up{
		position: relative;
		&:after{
			position: absolute;
			width: 20vw;
			height: 1px;
			display: block;
			left: calc(100% + 1rem);
			top: 50%;
			transform: translateY(-50%);
			content: '';
			background: #FFF;
		}
	}
}

.c-navbar__menu--close{
	position: absolute;
	right: 0;
	top: 0;
	padding: 4rem 1.5rem;
	@include s-responsive__desktop-up{
		right: auto;
		left: 24rem;
	}
}

.c-navbar__menu--menu{
	a{
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
	}
	li{
		padding: 1rem;
		list-style: none;
		position: relative;
		&:before{
			position: absolute;
			height: 1px;
			background: #FFF;
			width: 1.5rem;
			right: 100%;
			display: block;
			content: '';
			top: 50%;
			transform: translateY(-50%);
		}
	}
}