.c-overlay{
	width: 100%;
	position: relative;
	overflow: hidden;
}



.c-overlay__inner{
	padding: 0 $s-padding__mobile;
	position: relative;
	background: rgba(62,72,87,.74);
}

.c-overlay__background{
	width: 100%;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	img{
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
	}
	.wp-block-video{
		height: 100%;
		video{
			height: 100%;
			object-fit: cover;
		}
	}
}

.c-overlay__foreground{
	padding: 8rem $s-padding__mobile;
	@include s-responsive__mobile-up{
		display: flex;
		align-items: center;
		max-width: 1080px;
		left: 50%;
		position: relative;
		transform: translateX(-50%);
		padding: 8rem 0;
	}
}

.c-overlay__image{
	width: 100%;
	img{
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
	}
}

.c-overlay__text{
	background: transparent;
	color: #FFF;
	position: relative;
	z-index: 2;
	padding-bottom: 2.5rem;
	strong{
		color: $s-color__red;
		font-weight: normal;
	}
	br{
		height: 1rem;
	    display: block;
	    width: 100%;
	    content: '';
	}
	@include s-responsive__mobile-up{
		margin: 0;
		padding: 4.5rem;
		padding-left: 0;
		padding-bottom: 4rem;	
	}
}

.c-overlay__headline{
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.c-overlay__text--text{
	letter-spacing: 0px;
	line-height: 1.25;
	margin-bottom: 1rem;
	padding-left: 1.5rem;
	position: relative;
	&:before{
		position: absolute;
		top: .5rem;
		left: 0;
		background: $s-color__white;
		height: 1px;
		width: 1rem;
		display: block;
		content: '';
		@include s-responsive__mobile-up{
			width: 2.5rem;
		}
	}
	@include s-responsive__mobile-up{
		padding-left: 3.5rem;
	}
}